body {
  font-family: 'Arial', sans-serif;
}

/*  Style the first li of it's parent */

/*  Style the last li of it's parent */

/*  Style the 3rd item */

/*  Style the 6th item */

/*  Style the even items */

/*  Style the odd items */

/* nth-of-type vs nth-child */

/* Using pseudo classes with pseudo elements */
