body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 50px;
}
.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
