* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 15% auto;
  padding: 20px;
}
