* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Styling the navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type='text'] {
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  outline: none;
}

.search button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #45a049;
}
