body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
}

.item-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 1fr 2fr 3fr;
  grid-auto-rows: 100px;
  background: #f4f4f4;
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}
