body {
  font-family: Arial, sans-serif;
}

/* .container h1 {
  color: blue;
} */

#heading {
  color: purple !important;
}

.heading {
  color: green;
}

h1 {
  color: red !important;
}
