* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

/* .container h1,
.container h2,
.container p {
  color: red;
}

.container :is(h1, h2, p) {
  color: blue;
}

a:is(:hover, :focus) {
  background-color: pink;
}

.container :where(h1, h2, p) {
  color: green;
} */

.container:has(h1 span) {
  color: red;
}

h1:has(+ h2) {
  color: blue;
}
