
body {
  font-family: 'Arial', sans-serif;
}

/* Style the first li of it's parent */

/* Style the last li of it's parent */

/* Style every odd item */

/* Style every even item */

/* Style every nth Item */

/*  Style every 4th item */

/* Style the only child */
