body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
  height: 600px;
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}

.item-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.item-1 {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1 / 3; */
  grid-column: span 2;
}

.item-3 {
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2 / 4; */
  grid-row: span 2;
}

.item-9 {
  /* grid-column: 2 / 4; */
  grid-column: span 2;
}
