body {
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  /* flex-direction: row-reverse; */
}

.flex-item {
  background-color: coral;
  border: 1px solid black;
  padding: 30px;
  flex: 1;
}

.item-1 {
  order: 2;
}

.item-2 {
  order: 1;
}

.item-3 {
  order: 3;
}

.item-4 {
  order: 6;
}

.item-5 {
  order: 5;
}

.item-6 {
  order: 4;
}
