* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}
