* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(45deg, #f00, #00f);
  color: #fff;
  padding: 10px 0;
  margin-bottom: 80px;
}

.header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header .menu a {
  color: #fff;
}

.header .menu a:hover {
  color: #f00;
}

.section {
  margin: 30px 0;
}

.section h2 {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(45deg, #f00, #00f);
  color: #fff;
  font-size: 40px;
}

.section#home {
  margin-bottom: 100px;
}
