* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: lightblue;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

.box {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
